#email{
  padding: 50px;
  margin-top: 50px;
  width: 500px;
  border-width: 2px;
  box-sizing: border-box;

}

#confidential, #top-secret{
  display: inline-block;
  padding: 2px;
  margin-left: 12px;
  border: 2px groove red;
  transform: rotate(0.2deg);
}

.blurred{
  filter: blur(3px);
}