body {
  background-color: #f4f4f4;
  text-align: center;
}

.color-grid {
  width: 80%;
  display: flex;
  gap: 20px;
  padding: 20px;
}
.color-box {
  width: 50px;
  height: 50px;
}

.color1 {
  background-color: #fff;
}

.color2 {
  background-color: rgb(52, 152, 219);
}

.color3 {
  background-color: blue;
}

.color4 {
  background-color: hsl(210, 70%, 50%);
}

.color5 {
  background-color: hsl(210, 80%, 50%);
}
